asgiref==3.4.1; python_version >= "3.6"
backports.entry-points-selectable==1.1.0; python_version >= "2.7" and python_full_version >= "3.6.1"
certifi==2021.5.30; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
cfgv==3.3.0; python_full_version >= "3.6.1"
charset-normalizer==2.0.4; python_full_version >= "3.6.0" and python_version >= "3"
codecov==2.1.12; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.4.0")
coverage==5.5; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
distlib==0.3.2; python_full_version >= "3.6.1"
django-environ==0.4.5
django-filter==2.4.0; python_version >= "3.5"
django==3.2.6; python_version >= "3.6"
djangorestframework==3.12.4; python_version >= "3.5"
filelock==3.8.0; python_full_version >= "3.6.1"
identify==2.2.13; python_full_version >= "3.6.1"
idna==3.2; python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.5"
markdown==3.3.4; python_version >= "3.6"
nodeenv==1.6.0; python_full_version >= "3.6.1"
platformdirs==2.2.0; python_version >= "3.6" and python_full_version >= "3.6.1"
pre-commit==2.14.0; python_full_version >= "3.6.1"
pytz==2021.1; python_version >= "3.6"
pyyaml==5.4.1; python_full_version >= "3.6.1"
requests==2.26.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
six==1.16.0; python_full_version >= "3.6.1"
sqlparse==0.4.1; python_version >= "3.6"
toml==0.10.2; python_full_version >= "3.6.1"
urllib3==1.26.6; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4"
virtualenv==20.7.0; python_full_version >= "3.6.1"
